{% extends 'layout/base.html.twig' %}

{% block title %}
    Średnia i mediana ruchoma
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <a class="btn btn-outline-primary mb-5" href="/">Wróć</a>
        <h2>Średnia i mediana ruchoma</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="form">
                    <div class="mb-2">
                        <label for="input">Średnia ruchoma</label>
                        <textarea rows="10" class="form-control" id="input" placeholder="Dane wejściowe">
                        </textarea>
                    </div>
                    <div class="mb-2">
                        <label for="m">m</label>
                        <input class="form-control" type="number" id="m" value="5">
                    </div>

                    <button id="submit-button" class="btn btn-primary mt-3" type="button">Oblicz</button>
                </form>
            </div>
            <div class="col-md-6 mb-5">
                <div class="row d-none mt-3" id="result-card">
                    <div class="col-md-12">
                        <h3>Średnia ruchoma</h3>
                        <div class="table-responsive" id="average-table"></div>
                        <div class="w-full">
                            <canvas id="averages" style="width: 100%;"></canvas>
                        </div>
                        <h3>Mediana ruchoma</h3>
                        <div class="table-responsive" id="median-table"></div>
                        <div class="w-full">
                            <canvas id="medians" style="width: 100%;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/lista2/5.js') }}"></script>
{% endblock %}
