{% extends 'layout/base.html.twig' %}

{% block content %}
    <div class="container mt-5">
        <a class="btn btn-outline-primary mb-5" href="/">Wróć</a>
        <h2>Zadanie 4</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="form">
                    <div>
                        <label for="input">Dane wejściowe</label>
                        <textarea rows="10" class="form-control" id="input" placeholder="Dane wejściowe">
                        </textarea>
                    </div>
                    <button id="histogram-button" class="btn btn-primary mt-3" type="button">Wyznacz histogram</button>
                    <button id="submit-button" class="btn btn-primary mt-3" type="button">Oblicz</button>
                </form>

                <div class="row d-none mt-3" id="result-card">
                    <div class="col-md-12">
                        <h4 class="alert alert-success">
                            <div>Średnia = <span id="result-mean"></span></div>
                            <div>Empiryczne odchylenie standardowe = <span id="result-std"></span></div>
                            <div>Współczynnik skośności = <span id="result-skewness"></span></div>
                            <div>Współczynnik skupienia = <span id="result-kurtois"></span></div>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="w-full">
                    <canvas id="canvas" style="width: 100%;"></canvas>
                </div>
                <div class="w-full">
                    <canvas id="histogram" style="width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/4.js') }}"></script>
{% endblock %}
