{% extends 'layout/base.html.twig' %}
{% block content %}
    <style>
        body {
            font-size: 18px;
        }
    </style>
    <main class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h2>Lista 1</h2>
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie1">Kalkulator rozkładu normalnego (zadanie 1)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie2">Wyznaczanie histogramu (zadanie 2)</a>
                  </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
