{% extends 'layout/base.html.twig' %}
{% block content %}
    <style>
        body {
            font-size: 18px;
        }
    </style>
    <main class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h2>Lista 1</h2>
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie1">Kalkulator rozkładu normalnego (zadanie 1)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie2">Wyznaczanie histogramu (zadanie 2)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie3">Dystrybuanta, odległość Kołmogorowa (zadanie 3)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista1/zadanie4">Empiryczne odchylenie standardowe, współczynnik skośności i skupienia (zadanie 4)</a>
                  </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Lista 2</h2>
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista2/zadanie1">Test Kołmogorowa-Lillieforsa (Zadanie 1)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista2/zadanie2">Test Shapiro-Wilka (Zadanie 2)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista2/zadanie3">Testy na istotność współczynnika asymetrii i skupienia (Zadanie 3)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista2/zadanie4">Test χ2 (zadanie 4)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista2/zadanie5">Ciąg średnich oraz median ruchomych (zadanie 5)</a>
                  </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Lista 3</h2>
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista3/zadanie1">Test Dixona, Grubbsa (zadanie 1)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista3/zadanie2">Reguła 3 sigm (zadanie 2)</a>
                  </li>
                  <li class="list-group-item" aria-current="true">
                    <a href="/lista3/zadanie3">Test znaków oraz test punktów zwrotnych (zadanie 3)</a>
                  </li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
